<div class="form-add-infomation">
   <%= form_with(model: restaurant, local: true) do |form| %>
   <% if restaurant.errors.any? %>
   <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
      <ul>
         <% restaurant.errors.full_messages.each do |message| %>
         <li><%= message %></li>
         <% end %>
      </ul>
   </div>
   <% end %>
   <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, class:"input-data-restaurant" %>
   </div>
   <div class="field">
      <%= form.label :address %>
      <%= form.text_field :address, class:"input-data-restaurant" %>
   </div>
   <div class="field">
      <%= form.label :description, "Title" %>
      <%= form.text_field :description, class:"input-data-restaurant"%>
   </div>
   <div class="field">
      <%= form.label :description2, "Review Content" %>
      <%= form.text_area :description2, class:"input-data-restaurant"%>
   </div>
   <div class="field">
      <%= form.label :image, class:"btn-add-image-restaurant"%>
      <%= form.file_field :image, class:"image-restaurant"%><br>
   </div>
   <div class="actions">
      <%= form.submit %>
   </div>
   <% end %>
</div>