<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <% if @restaurant.image.attached? %>
    <strong>Image:</strong>
    <%= image_tag @restaurant.image %>
  <% end %>
</p>
<p>
    <strong>Like:</strong>
    <%= link_to "Like", restaurant_like_path(@restaurant), method: :post %>
    <% @restaurant.restaurant_like.each do |restaurant_like| %>
        
        <% if (restaurant_like.user_id==current_user.id) %>
        <% end %>
    <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>
<p>
  <strong>Description2:</strong>
  <%= @restaurant.description2 %>
</p>

<h2>Food List</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @restaurant.restaurant_food.each do |restaurant_food| %>
      <tr>
        <td><%= restaurant_food.name %></td>
        <td><%= restaurant_food.description %></td>
        <td><%= image_tag restaurant_food.image %></td>
        <td><%= link_to 'Edit', edit_restaurant_food_path(restaurant_food) %></td>
        <td><%= link_to 'Destroy', restaurant_food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Restaurant Food', new_restaurant_food_path %>

<h2>Review From<h2>
<%= form_with(model: @restaurant_comment, local: true) do |form| %>
  <div class= "field">
    <%= form.text_area :comment %>
    <%= form.hidden_field :restaurant_id, :value => @restaurant.id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<h2>Review List</h2>
<ul>
  <% @restaurant.restaurant_comment.each do |restaurant_comment|%>
   <li><%= restaurant_comment.comment%>
     (<i><%= restaurant_comment.user.name %></i>)</li>
<% end %>
</ul>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
